@media screen and (min-width:1160px){
  header>div{
    width: 1160px;}
  #box02>section{
    width: 1160px;}  
  #box04>div{
    width: 1160px;}
  #box01>ul{
    margin-left: -565px;
    width: 1160px;}
  #all{ 
    width: 1130px;}
}

@media screen and (max-width:1159px) and (min-width:980px){

}

@media screen and (max-width:979px) and (min-width:580px){
  header>div{
    display: block;
    background-color: green;
  }
  header>div>h1{text-align: center;}
  header>div>nav{
    position: fixed;
    top: 0; left: -384px;
    width: 394px;
    height: 100%;
    padding-top: 30vh;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
  }
  header>div>nav>ul{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  header>div>nav>ul>li{
    display: block;
    margin-left: 0;
    border-bottom: 1px solid #fff ;
  }
  header>div>nav>ul>li>a{
    line-height: 10vh;
  }
  header nav p.close{
    width: 5vh; height: 5vh;
    position: absolute;
    right: 2.5vh; top: 2.5vh;
    background-color: red;
  }
  header>.btn{
    display: block;
  }
}

@media screen and (max-width:579px) and (min-width:5px){}